html,body
{
    padding: 0;
    margin: 0;
    font-family: "Verdana";
    color: white;
    height: 100%;
}
#bg
{
    position: relative;
    background-image: url("Wallpapers/SkyrimWallpaper1.png");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
}
#bg-overlay
{
    position: absolute;
    inset: 0;
    background: black;
    opacity: 0;
    transition: opacity 1s ease;
    pointer-events: none;
    z-index: 3;
}
#bg > * 
{
    position: relative;
    z-index: 4;
}
#bg::after
{
    content: "";
    position: absolute;
    height: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,1));
    pointer-events: none;
}
h1
{ 
    font-size: 50;
    text-align: center;
    color: rgba(2000, 200, 200, 1);
    width: fit-content;
    text-shadow: 
    0 2px 6px rgba(0, 0, 0, 0.7),
    0 0 20px rgba(0, 0, 0, 0.5);
    border: 2px, solid, black;
    background-color: rgba(7, 9, 15, 0.15);
    border-radius: 15px;
    
}
#UnderHeader
{
    width:fit-content;
    font-size: 20;
    text-align: center;
    color: rgba(200, 200, 200 ,1);
    text-shadow: 
    0 2px 6px rgba(0, 0, 0, 0.4),
    0 0 20px rgba(0, 0, 0, 0.3);
    border: 2px, solid, black;
    background-color: rgba(7, 9, 15, 0.15);
    border-radius: 15px;
    text-align: left;
    margin: 15px;
    padding: 5px;
    float: left;
}
#info
{
    font-size: 10;
    text-align: right;

}
button
{
    
    width: 150px;
    height: 25px;
    color: rgba(2000, 200, 200 , 1);
    border: none;
    background-color: rgba(7, 9, 15, 0.50);
    float: right;
    margin-right: 50px;
    margin-top: -70px;
    
}
button:hover
{
    transition: background-color 0.5s ease;
    cursor: pointer;
    background-color: rgba(7, 9, 15, 0.8);
}
header
{
    width: 98%;
    margin: 15px;
    float: left;
}
#headertext
{
    width: 700px;
}
#TimeHolder
{
    width: 100%;
    float: left;
    margin-top: 25px;
}
#CurrentTime
{
    color:thistle;
    width: 40vw;
    font-size: 20;
    text-align: center;
    float: left;
    margin-left: 30px;
    border: 2px solid black;
    background-color: rgba(7, 9, 15, 0.35);
    border-radius: 15px;
    height: 200px;
}
#CurrentTimeHeader
{
    padding: 15px;
    font-size: 30;
}
#HowMuchPassed
{
    color:thistle;
    width: 40vw;
    font-size: 20;
    text-align: center;
    float: right;
    margin-right: 30px;
    border: 2px solid black;
    background-color: rgba(7, 9, 15, 0.4);
    border-radius: 15px;
    height: 200px;
    
}

footer
{
    width: 100vw;
    height: 25vh;
    background-color: rgb(0, 0, 0);
}
