body
{
    font-family: "Verdana";
    color: white;
}
h1
{ 
    font-size: 50;
    margin: auto;
    margin-top: 50;
    text-align: center;
    color: black;
    width: fit-content;
    text-shadow: 
    0 2px 6px rgba(0, 0, 0, 0.4),
    0 0 20px rgba(0, 0, 0, 0.3);
    border: 2px, solid, black;
    background-color: rgb(60,74,150,0.45);
    border-radius: 15px;
    
}
.content-background
{
    background-image: url("SkyrimWallpaper_1.png");
    height: fit-content;
}