body
{
    padding: 0;
    margin: 0;
    font-family: "Verdana";
    color: white;
    background-image: url("SkyrimWallpaper1.png");
    height: fit-content;
    
}
h1
{ 
    font-size: 50;
    text-align: center;
    color: rgba(2000, 200, 200, 1);
    width: fit-content;
    text-shadow: 
    0 2px 6px rgba(0, 0, 0, 0.7),
    0 0 20px rgba(0, 0, 0, 0.5);
    border: 2px, solid, black;
    background-color: rgba(7, 9, 15, 0.15);
    border-radius: 15px;
    
}
#UnderHeader
{
    width:fit-content;
    font-size: 20;
    text-align: center;
    color: rgba(200, 200, 200 ,1);
    text-shadow: 
    0 2px 6px rgba(0, 0, 0, 0.4),
    0 0 20px rgba(0, 0, 0, 0.3);
    border: 2px, solid, black;
    background-color: rgba(7, 9, 15, 0.15);
    border-radius: 15px;
    text-align: left;
    margin: 15px;
    padding: 5px;
    float: left;
}
#info
{
    font-size: 10;
    text-align: right;

}
button
{
    width: 150px;
    height: 25px;
    color: rgba(2000, 200, 200 , 1);
    border: none;
    background-color: rgba(7, 9, 15, 0.50);
    float: right;
    margin-right: 50px;
    margin-top: -70px;
    
}
button:hover
{
    background-color: rgba(7, 9, 15, 0.8);
}
header
{
    width: 98%;
    margin: 15px;
    float: left;
}
#headertext
{
    width: 700px;
}
#TimeHolder
{
    width: 100%;
    float: left;
    margin-top: 150px;
}
#CurrentTime
{
    color:thistle;
    width: 48%;
    font-size: 40;
    text-align: center;
    float: left;
    border: 2px solid black;
    background-color: rgba(7, 9, 15, 0.35);
    border-radius: 15px;
    height: 350px;
}
#CurrentTimeHeader
{
    padding: 15px;
    font-size: 50;
}
#HowMuchPassed
{
    color:thistle;
    width: 48%;
    font-size: 30;
    text-align: center;
    float: right;
    border: 2px solid black;
    background-color: rgba(7, 9, 15, 0.4);
    border-radius: 15px;
    height: 350px;
    
}
